*{
    margin: 0;
    padding: 0;                         
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}
.header{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
.header .headParent{
    width: 90%;
    height: 100px;
    margin: 0 auto;
}
.header .headParent .logo{
    float: left;
    margin-left: 30px;
}
.header .headParent .logo
.header .headParent .nav{
    float: right;
    margin-right: 30px;
}
.header .headParent .nav ul li{
    float: right;
    margin-left: 110px;
    font-size: 18px;
    line-height: 100px;
}
.header .headParent .nav ul li a{
    color: black;
}
.header .headParent .logo .circle{
width: 30px;
height: 30px;
border-radius: 30px;
background-color: black;
float: left;
margin-top: 35px;
}
.header .headParent .logo .logoTittle{
    float: right;
    margin: 30px;
    font-weight: bold;
}
/* جزء المين */
.main{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto; 
}
.main .des{
    width: 90%;
    height: 300px;
    background-color: #3c3c3c;
    color: white;
    margin: 0 auto;
}
.main .des .tittle{
    float: left;
    text-align: center;
    padding-right: 100px;
    margin: 50px;
    margin-left: 100px;
}
.main .des .tittle h2{
    font-size: 48px;
}
.main .des .tittle h1{
    font-size: 118px;
}
.main .des .textDes{
    width: 470px;
    float: right;
    margin: 50px;
}
.main .des .textDes .para p{
    border-left: 15px solid #fff;
    padding: 20px;
}
.main .des .textDes .deskLinks{
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
}
.main .art{
    width: 90%;
    height: 350px;
    background-color: rgb(255, 255, 233);
    margin: 0 auto;
}
.main .art .ar{
    margin-top: 30px;
    width: 50%;
    float: left;
}
.main .art .ar .ima img{
    width: 300px;
    float: left;
}
.main .art .at .image img{
    width: 300px;
    float: left;
}
.main .art .ar .tit{
    width: 250px;
    float: left;
    margin-bottom: 15px;
    margin-top: 90px;
    margin-left: 40px;
}
.main .art .at{
    width: 50%;
    float: right;
    margin-top: 30px;
}
.main .art .ar .de p{
    float: left;
    margin-left: 40px;
}
.main .art .at .ti{
    width: 250px;
    float: left;
    margin-top: 90px;
    margin-left: 20px;
    font-size: 15px;
}
.main .art .at .d p{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
.foot{
    width: 100%;
    max-width: 1920px;
    margin: 20px auto;
    height: 20px;
}
.foot .info p{
    float: left;
    text-align: center;
    margin-left: 25%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 

.foot .socialMedia{
    float: left;
    margin-left: 200px;
}

.foot .socialMedia ul i{
    float: left;
    margin-left: 30px;
}
























